# **Ejercicios de pair programming Módulo 2 Sprint 2**
## **EDA: Lección 1**
### **Introducción**

---

In [1]:
import pandas as pd

In [2]:
df_tickets = pd.read_csv("data/historico_tickets_limpio.csv", index_col = 0)
pd.options.display.max_columns = None

### **IMPORTANTE**

**Estos ejercicios son complementarios a la información que viene en el gitbook. Hay que revisar primero el texto de las hipótesis antes de iniciar la resolución de ejercicios.**

1. Haced una exploración inicial del dataframe:

In [19]:
df_tickets.head()

,id_ticket,fecha,id_empleado,id_agente,categoría,tipo,severidad,prioridad,días_resolución,satisfacción,semestre,año,mes
0,GDDENR-5042564453,2016-07-13,1735,4,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,2º semestre,2016,Julio
1,GDDENR-8042508060,2016-05-18,1566,10,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,0,5,1 semestre,2016,Mayo
2,GDDESR-1342539995,2016-06-18,569,29,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,3,5,1 semestre,2016,Junio
3,GDDTSR-5942488006,2016-04-28,320,40,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,9,5,1 semestre,2016,Abril
4,GDLEER-0042524120,2016-06-03,1842,31,Software,Problema,2 - Normal,0 - Sin Asignar,0,5,1 semestre,2016,Junio

- ¿Cuál es el número de filas y columnas?

In [3]:
print(f"El dataframe tiene {df_tickets.shape[0]} filas y {df_tickets.shape[1]} columnas.")

El dataframe tiene 97386 filas y 13 columnas.

- ¿Cuál es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [4]:
df_porcentaje_nulos = pd.DataFrame(df_tickets.isnull().sum()/df_tickets.shape[0]*100)
df_porcentaje_nulos

                   0
id_ticket        0.0
fecha            0.0
id_empleado      0.0
id_agente        0.0
categoría        0.0
tipo             0.0
severidad        0.0
prioridad        0.0
días_resolución  0.0
satisfacción     0.0
semestre         0.0
año              0.0
mes              0.0

- ¿Qué tipos de datos hay en cada columna?

In [5]:
df_tickets.dtypes

id_ticket          object
fecha              object
id_empleado         int64
id_agente           int64
categoría          object
tipo               object
severidad          object
prioridad          object
días_resolución     int64
satisfacción        int64
semestre           object
año                 int64
mes                object
dtype: object

- Extraed la información general del dataframe.

In [6]:
df_tickets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97386 entries, 0 to 29087
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_ticket        97386 non-null  object
 1   fecha            97386 non-null  object
 2   id_empleado      97386 non-null  int64
 3   id_agente        97386 non-null  int64
 4   categoría        97386 non-null  object
 5   tipo             97386 non-null  object
 6   severidad        97386 non-null  object
 7   prioridad        97386 non-null  object
 8   días_resolución  97386 non-null  int64
 9   satisfacción     97386 non-null  int64
 10  semestre         97386 non-null  object
 11  año              97386 non-null  int64
 12  mes              97386 non-null  object
dtypes: int64(5), object(8)
memory usage: 10.4+ MB

2. Cread dos dataframes nuevos, uno que incluya solo las variables categóricas y otro que incluya solo las variables numéricas.

In [7]:
df_categoricas = df_tickets.select_dtypes(include = "object")
df_categoricas

,id_ticket,fecha,categoría,tipo,severidad,prioridad,semestre,mes
0,GDDENR-5042564453,2016-07-13,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,2º semestre,Julio
1,GDDENR-8042508060,2016-05-18,Acceso/Login,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Mayo
2,GDDESR-1342539995,2016-06-18,Sistema,Problema,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Junio
3,GDDTSR-5942488006,2016-04-28,Sistema,Solicitud,0 - Sin Clasificar,0 - Sin Asignar,1 semestre,Abril
4,GDLEER-0042524120,2016-06-03,Software,Problema,2 - Normal,0 - Sin Asignar,1 semestre,Junio
...,...,...,...,...,...,...,...,...
29083,TWRTSR-8543883120,2020-02-22,Sistema,Solicitud,3 - Mayor,1 - Baja,1 semestre,Febrero
29084,TWRTSR-8744097039,2020-09-23,Sistema,Solicitud,1 - Menor,1 - Baja,2º semestre,Septiembre
29085,TWRTSR-9643846768,2020-01-16,Sistema,Solicitud,3 - Mayor,1 - Baja,1 semestre,Enero
29086,TWRTSR-9944138906,2020-11-03,Sistema,Solicitud,1 - Menor,1 - Baja,2º semestre,Noviembre
29087,TWRTST-8643986162,2020-06-04,Sistema,Solicitud,1 - Menor,1 - Baja,1 semestre,Junio

In [8]:
df_numericas = df_tickets.select_dtypes(exclude = "object")
df_numericas
#¿Cómo sacaríamos este df con el parámetro include si el df tuviera variables de tipo float e int?

       id_empleado  id_agente  días_resolución  satisfacción   año
0             1735          4                0             5  2016
1             1566         10                0             5  2016
2              569         29                3             5  2016
3              320         40                9             5  2016
4             1842         31                0             5  2016
...            ...        ...              ...           ...   ...
29083         1142          1               11             5  2020
29084          223         40                7             4  2020
29085          256          7               13             5  2020
29086         1060          9                9             5  2020
29087         1876         41                6             4  2020

[97386 rows x 5 columns]

 - ¿Cuáles son los principales estádisticos de los dataframes?

In [9]:
df_tickets.describe().T

,count,mean,std,min,25%,50%,75%,max
id_empleado,97386.0,999.160639,577.407222,1.0,500.0,999.0,1499.0,2000.0
id_agente,97386.0,25.468856,14.449455,1.0,13.0,26.0,38.0,50.0
días_resolución,97386.0,4.552749,4.365432,0.0,0.0,4.0,7.0,21.0
satisfacción,97386.0,4.100990,1.257093,1.0,4.0,5.0,5.0,5.0
año,97386.0,2018.399164,1.393095,2016.0,2017.0,2019.0,2020.0,2020.0

In [10]:
df_tickets.describe(include = "object").T

           count unique                top   freq
id_ticket  97386  97386  GDDENR-5042564453      1
fecha      97386   1827         2020-02-20    105
categoría  97386      4            Sistema  38961
tipo       97386      2          Solicitud  73138
severidad  97386      5         2 - Normal  88555
prioridad  97386      4           3 - Alta  35511
semestre   97386      2        2º semestre  49876
mes        97386     12            Octubre   8487

 - Extraed los valores únicos.

In [11]:
for col in df_tickets.columns:
    print("---", "\n")
    print(f"La columna {col} tiene los siguientes valores únicos:")
    print(pd.DataFrame(df_tickets[col].value_counts()))

---

La columna id_ticket tiene los siguientes valores únicos:
                   id_ticket
GDDENR-5042564453          1
TDLTSR-7643684027          1
TDLTSR-7943733018          1
TDLTSR-7943531091          1
TDLTSR-7843654041          1
...                      ...
GMLTSR-7943266311          1
GMLTSR-7743345530          1
GMLTSR-7743273810          1
GMLTSR-7743134581          1
TWRTST-8643986162          1

[97386 rows x 1 columns]
---

La columna fecha tiene los siguientes valores únicos:
            fecha
2020-02-20    105
2020-12-16    105
2020-12-31    103
2020-03-14    103
2020-06-14    102
...           ...
2016-08-21     22
2016-03-04     22
2016-04-14     21
2016-07-08     18
2016-11-17     17

[1827 rows x 1 columns]
---

La columna id_empleado tiene los siguientes valores únicos:
      id_empleado
285            73
754            73
636            71
523            69
1341           69
...           ...
1618           31
72             31
1195           29
99             27
793            26

[2000 rows x 1 columns]
---

La columna id_agente tiene los siguientes valores únicos:
    id_agente
48       2026
39       2024
3        2019
35       2006
24       2002
5        1999
15       1990
4        1987
31       1985
19       1980
10       1972
32       1971
2        1966
27       1965
1        1964
41       1963
30       1962
26       1961
22       1961
17       1959
8        1957
33       1957
11       1951
6        1947
46       1947
9        1946
50       1945
28       1945
42       1943
44       1940
14       1939
38       1935
7        1933
47       1929
37       1929
29       1928
34       1927
45       1927
16       1923
20       1917
40       1917
23       1911
36       1911
25       1904
12       1896
43       1896
49       1890
18       1889
21       1889
13       1856
---

La columna categoría tiene los siguientes valores únicos:
              categoría
Sistema           38961
Acceso/Login      29165
Software          19543
Hardware           9717
---

La columna tipo tiene los siguientes valores únicos:
            tipo
Solicitud  73138
Problema   24248
---

La columna severidad tiene los siguientes valores únicos:
                    severidad
2 - Normal              88555
3 - Mayor                4831
1 - Menor                2254
4 - Crítico              1390
0 - Sin Clasificar        356
---

La columna prioridad tiene los siguientes valores únicos:
                 prioridad
3 - Alta             35511
0 - Sin Asignar      29376
1 - Baja             16670
2 - Media            15829
---

La columna días_resolución tiene los siguientes valores únicos:
    días_resolución
0             25049
1              9267
5              8779
6              7793
7              6578
2              6454
3              6194
4              4911
8              4841
10             3895
9              3732
11             1729
13             1711
14             1566
12             1555
15             1357
16             1165
17              553
19              130
18              123
21                2
20                2
---

La columna satisfacción tiene los siguientes valores únicos:
   satisfacción
5         50722
4         27529
1          9888
3          7271
2          1976
---

La columna semestre tiene los siguientes valores únicos:
             semestre
2º semestre     49876
1 semestre      47510
---

La columna año tiene los siguientes valores únicos:
        año
2020  29088
2019  21490
2018  18954
2017  14915
2016  12939
---

La columna mes tiene los siguientes valores únicos:
             mes
Octubre     8487
Agosto      8474
Diciembre   8392
Noviembre   8248
Marzo       8219
Septiembre  8210
Junio       8131
Mayo        8108
Julio       8065
Abril       7929
Febrero     7892
Enero       7231

In [12]:
for col in df_tickets.columns:
    print("---", "\n")
    print(f"La columna {col} tiene los siguientes valores únicos por cada columna:")
    print(df_tickets[col].unique())

---

La columna id_ticket tiene los siguientes valores únicos por cada columna:
['GDDENR-5042564453' 'GDDENR-8042508060' 'GDDESR-1342539995' ...
 'TWRTSR-9643846768' 'TWRTSR-9944138906' 'TWRTST-8643986162']
---

La columna fecha tiene los siguientes valores únicos por cada columna:
['2016-07-13' '2016-05-18' '2016-06-18' ... '2020-06-03' '2020-06-12'
 '2020-02-19']
---

La columna id_empleado tiene los siguientes valores únicos por cada columna:
[1735 1566  569 ... 1528 1367 1600]
---

La columna id_agente tiene los siguientes valores únicos por cada columna:
[ 4 10 29 40 31 20 36 18 12 42  5 21 17  2 24 23 15 46 43 27  8 45 32 38
 33 41  3  9 25 39 16 47 14 48 37 35 34 28 30  1 11 19 44  6 26 49  7 22
 50 13]
---

La columna categoría tiene los siguientes valores únicos por cada columna:
['Acceso/Login' 'Sistema' 'Software' 'Hardware']
---

La columna tipo tiene los siguientes valores únicos por cada columna:
['Problema' 'Solicitud']
---

La columna severidad tiene los siguientes valores únicos por cada columna:
['0 - Sin Clasificar' '2 - Normal' '4 - Crítico' '3 - Mayor' '1 - Menor']
---

La columna prioridad tiene los siguientes valores únicos por cada columna:
['0 - Sin Asignar' '3 - Alta' '2 - Media' '1 - Baja']
---

La columna días_resolución tiene los siguientes valores únicos por cada columna:
[ 0  3  9  1  2  5  8  4 10  6  7 13 16 17 11 12 14 15 19 18 21 20]
---

La columna satisfacción tiene los siguientes valores únicos por cada columna:
[5 1 4 3 2]
---

La columna semestre tiene los siguientes valores únicos por cada columna:
['2º semestre' '1 semestre']
---

La columna año tiene los siguientes valores únicos por cada columna:
[2016 2017 2018 2019 2020]
---

La columna mes tiene los siguientes valores únicos por cada columna:
['Julio' 'Mayo' 'Junio' 'Abril' 'Agosto' 'Marzo' 'Enero' 'Septiembre'
 'Octubre' 'Diciembre' 'Noviembre' 'Febrero']


BONUS presenta los resultados en un dataframe. Os deberá quedar algo como esto:

|variable|n_unicos|
|--------|--------|
|categoría|['Acceso/Login', 'Sistema', 'Software', 'Hardware', ...]|
|tipo|['Problema', 'Solicitud', ...]|
|semestre|['2º semestre', '1 semestre', ...]|

Donde variable es cada una de las variables categóricas que tenemos en el dataset y n_unicos es una lista con los nombres de los valores únicos de cada variable.

In [18]:
nombre_cols = ["variable", "n_unicos"]

valores_unicos = []
for col in df_tickets.columns:
        valores_unicos.append(df_tickets[col].unique())

dicc = {}
dicc.update({nombre_cols[0] : df_tickets.columns, nombre_cols[1]: valores_unicos})
df_valores_unicos = pd.DataFrame(dicc)

df_valores_unicos

           variable                                           n_unicos
0         id_ticket  [GDDENR-5042564453, GDDENR-8042508060, GDDESR-...
1             fecha  [2016-07-13, 2016-05-18, 2016-06-18, 2016-04-2...
2       id_empleado  [1735, 1566, 569, 320, 1842, 59, 1175, 561, 71...
3         id_agente  [4, 10, 29, 40, 31, 20, 36, 18, 12, 42, 5, 21,...
4         categoría        [Acceso/Login, Sistema, Software, Hardware]
5              tipo                              [Problema, Solicitud]
6         severidad  [0 - Sin Clasificar, 2 - Normal, 4 - Crítico, ...
7         prioridad   [0 - Sin Asignar, 3 - Alta, 2 - Media, 1 - Baja]
8   días_resolución  [0, 3, 9, 1, 2, 5, 8, 4, 10, 6, 7, 13, 16, 17,...
9      satisfacción                                    [5, 1, 4, 3, 2]
10         semestre                          [2º semestre, 1 semestre]
11              año                     [2016, 2017, 2018, 2019, 2020]
12              mes  [Julio, Mayo, Junio, Abril, Agosto, Marzo, Ene...

**Conclusiones**

¿De qué nos sirven estos números y dataframe? Extraed conclusiones de ellos.

Por ejemplo:

¿Hay alguna columna que no tenga sentido su tipo de datos?

`La columna "fecha" está en formato object y sería más apropiado que estuviera en formato Datetime.`


¿Hay alguna columna que no tenga sentido su nombre?

`La columna "tipo" tiene un nombre poco descriptivo. Por lo demás las columnas nos parecen correctamente nombradas.`


¿Hay alguna columna que no tenga sentido su contenido?

`No acabamos de entender la diferencia entre "problema" y "solicitud" en la columna "tipo".`

`Además, aunque sabemos que son resultado de ejercicios previos, creemos que las columnas "semestre", "año" y "mes" son redundantes teniendo en cuenta que toda esta inforamción ya está contenida en la columna "fecha". `


¿Hay alguna columna que tenga demasiadas categorías o valores que nos pueda hacer difícil trabajar con ella?

`En principio no vemos ninguna dificultad asociada a un exceso de categorías o valores en ninguna columna.`